/* ==== MIXINS REUTILIZABLES ==== */
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
}